@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section {
  padding: 50px 20px;
}

.headingOne {
  color: #000000;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.headingTwo {
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.headingThree {
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.headingFour {
  color: #000000;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.3rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.paragraph {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.buttonDark {
  background-color: #131313;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid #131313;
}

.buttonWhite {
  background-color: #FFFFFF;
  color: #131313;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid #131313;
}

.wrapper {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .headingOne {
    font-size: 4.5rem;
    line-height: 4.5rem;
    padding: 20px 20vw;
  }
  .headingTwo {
    font-size: 4rem;
    line-height: 4rem;
  }
  .paragraph {
    font-size: 2rem;
    line-height: 3rem;
  }
  .buttonDark {
    font-size: 2rem;
    line-height: 3rem;
  }
  .buttonWhite {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .headingOne {
    font-size: 6.8rem;
    line-height: 6.8rem;
    padding: 20px 30vw;
  }
  .headingTwo {
    font-size: 5rem;
    line-height: 6rem;
  }
  .section {
    width: 100vw;
  }
  .wrapper {
    width: calc(100vw - 40px);
    margin: 0 auto;
    max-width: 1600px;
  }
}
.section {
  padding: 50px 20px;
}

.headingOne {
  color: #000000;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.headingTwo {
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.headingThree {
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.headingFour {
  color: #000000;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.3rem;
  letter-spacing: -3%;
  font-family: "DM Sans", sans-serif;
  padding: 20px 0px;
}

.paragraph {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.buttonDark {
  background-color: #131313;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid #131313;
}

.buttonWhite {
  background-color: #FFFFFF;
  color: #131313;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid #131313;
}

.wrapper {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .headingOne {
    font-size: 4.5rem;
    line-height: 4.5rem;
    padding: 20px 20vw;
  }
  .headingTwo {
    font-size: 4rem;
    line-height: 4rem;
  }
  .paragraph {
    font-size: 2rem;
    line-height: 3rem;
  }
  .buttonDark {
    font-size: 2rem;
    line-height: 3rem;
  }
  .buttonWhite {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .headingOne {
    font-size: 6.8rem;
    line-height: 6.8rem;
    padding: 20px 30vw;
  }
  .headingTwo {
    font-size: 5rem;
    line-height: 6rem;
  }
  .section {
    width: 100vw;
  }
  .wrapper {
    width: calc(100vw - 40px);
    margin: 0 auto;
    max-width: 1600px;
  }
}
.headerHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/image/headerBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.headerHomePage__centerBlob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  text-align: center;
  background-image: url("/image/blobHomePage.svg");
  background-size: 125vw;
  background-position: center;
}

.switchSection {
  background-color: #F6F1ED;
}
.switchSection__topTextBox {
  text-align: center;
}
.switchSection__switchBox {
  background: #FFFFFF;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px 0px;
  margin: 20px 0px;
}
.switchSection__firstSwitch {
  border-radius: 40px;
  width: 90%;
  text-align: center;
  padding: 12px 24px;
  margin-bottom: 10px;
}
.switchSection__active {
  background-color: #131313;
}
.switchSection__active .paragraph {
  color: #FFFFFF;
}
.switchSection__image {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0px;
}
.switchSection__boxSteps {
  margin: 50px 0px;
}

.effectSection__topTextBox {
  text-align: center;
}
.effectSection__row {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.effectSection__textInCircle {
  position: relative;
  top: 40px;
  left: 0px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #384897;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.effectSection__paragraph {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}
.effectSection__image {
  width: 100%;
  border-radius: 20px;
}
.effectSection__descriptionBox {
  order: 1;
}
.effectSection__imageBox--second {
  order: 3;
}
.effectSection__imageBox--first {
  order: 2;
}

.pricingTable {
  background-color: #F6F1ED;
}
.pricingTable__row {
  display: flex;
  flex-wrap: nowrap;
  width: 300vw;
  transition: 0.3s;
}
.pricingTable__topTextBox {
  text-align: center;
}
.pricingTable__price {
  padding: 0px 0px 20px 0px;
}
.pricingTable__iconRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 10px 0px;
}
.pricingTable__icon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px;
}
.pricingTable__bottomBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.pricingTable__secondButton {
  margin-top: 10px;
}
.pricingTable__columnPrice {
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 32px 18px;
  margin-right: 20px;
  width: calc(100vw - 40px);
}
.pricingTable__circle {
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: 20px 10px;
}
.pricingTable__circle--active {
  background-color: #000000;
  transition: 0.3s;
}
.pricingTable__boxWithCircle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutUs {
  background-color: #F6F1ED;
}
.aboutUs__image {
  width: 100%;
  border-radius: 20px;
}
.aboutUs__rowTop {
  position: relative;
}
.aboutUs__iconEco {
  width: 70px;
  height: 70px;
  position: relative;
  left: 81%;
  top: 40px;
}
.aboutUs__rightSide {
  padding: 20px 0px;
}
.aboutUs__textBoxHeading {
  display: flex;
  align-content: center;
  align-items: center;
}
.aboutUs__icon {
  margin-right: 10px;
}
.aboutUs__textBox {
  padding: 20px 0px;
}

@media screen and (min-width: 700px) {
  .headerHomePage__centerBlob {
    padding: 150px 20px;
    background-size: 80vw;
  }
  .headerHomePage__paragraph {
    padding: 0px 20vw;
  }
  .switchSection__switchBox {
    flex-direction: row;
  }
  .switchSection__image {
    min-height: 520px;
  }
  .switchSection__firstSwitch, .switchSection__secondSwich {
    width: 100%;
    text-align: center;
    margin: 0px 10px;
  }
  .switchSection__inpostSteps {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .switchSection__boxSteps {
    width: 48%;
  }
  .effectSection__row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .effectSection__descriptionBox {
    width: 100%;
  }
  .effectSection__imageBox {
    width: 48%;
  }
  .pricingTable__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0px;
  }
  .pricingTable__columnPrice {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .pricingTable__iconRow {
    align-content: flex-start;
    align-items: flex-start;
  }
  .pricingTable__icon {
    margin-top: 5px;
  }
  .pricingTable__boxWithCircle {
    display: none;
  }
  .aboutUs__rowBottom {
    display: flex;
    flex-wrap: wrap;
  }
  .aboutUs__leftSideHeading {
    width: 100%;
  }
  .aboutUs__rightSideTextBoxs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .aboutUs__textBox {
    width: 47%;
  }
  .aboutUs__iconEco {
    width: 100px;
    height: 100px;
    left: 87%;
    top: 50px;
  }
}
@media screen and (min-width: 992px) {
  .headerHomePage__centerBlob {
    padding: 150px 50px;
    background-size: 60vw;
  }
  .headerHomePage__paragraph {
    padding: 0px 25vw;
  }
  .switchSection__switchBox {
    width: 60%;
    max-width: 700px;
    margin: 50px auto;
  }
  .switchSection__boxSteps {
    width: calc(25% - 40px);
  }
  .switchSection__boxSteps:nth-child(even) {
    padding-top: 50px;
  }
  .switchSection__image {
    min-height: 410px;
  }
  .effectSection__row {
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: calc(100vw - 40px);
    margin: 0 auto;
    max-width: 1600px;
  }
  .effectSection__imageBox--first {
    order: 1;
    margin: 20px;
  }
  .effectSection__imageBox--second {
    order: 1;
    margin: 20px;
  }
  .effectSection__descriptionBox--first {
    margin: 50px 20px 50px 50px;
  }
  .effectSection__descriptionBox--second {
    margin: 50px 50px 50px 20px;
  }
  .pricingTable__row {
    width: calc(100vw - 40px);
    margin: 50px auto 0px;
    max-width: 1300px;
  }
  .pricingTable__columnPrice {
    width: 32%;
    padding: 32px;
  }
  .pricingTable__icon {
    margin-right: 10px;
  }
  .pricingTable__topTextBox {
    max-width: 40vw;
    margin: 0 auto;
  }
  .aboutUs__wrapper {
    width: calc(100vw - 40px);
    margin: 0 auto;
    max-width: 1600px;
  }
  .aboutUs__rowTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .aboutUs__iconEco {
    width: 100px;
    height: 100px;
    left: 93%;
    top: 45px;
  }
  .aboutUs__leftSide {
    width: 50%;
    padding-right: 50px;
  }
  .aboutUs__rightSide {
    width: 40%;
    padding-top: 100px;
  }
  .aboutUs__rowBottom {
    margin-top: 70px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .aboutUs__leftSideHeading {
    width: 30%;
  }
  .aboutUs__rightSideTextBoxs {
    width: 60%;
  }
  .aboutUs__icon {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1600px) {
  .headerHomePage__centerBlob {
    padding: 150px 50px;
    margin-bottom: 20px;
    background-size: 42.5vw;
  }
  .headerHomePage__paragraph {
    padding: 0px 30vw;
  }
}/*# sourceMappingURL=main.css.map */