@media screen and (min-width: 992px)

    .headerHomePage

        &__centerBlob
            padding: 150px 50px
            background-size: 60vw

        &__paragraph
            padding: 0px 25vw

@media screen and (min-width: 1600px)

    .headerHomePage

        &__centerBlob
            padding: 150px 50px
            margin-bottom: 20px
            background-size: 42.5vw

        &__paragraph
            padding: 0px 30vw