@media screen and (min-width: 992px)

    .headerHomePage

        &__centerBlob
            padding: 150px 50px
            background-size: 60vw

        &__paragraph
            padding: 0px 25vw

    .switchSection

        &__switchBox
            width: 60%
            max-width: 700px
            margin: 50px auto

        &__boxSteps
            width: calc(25% - 40px)

            &:nth-child(even)
                padding-top: 50px
                
        &__image
            min-height: 410px

    .effectSection

        &__row
            flex-wrap: nowrap
            align-content: center
            align-items: center
            width: calc(100vw - 40px)
            margin: 0 auto
            max-width: 1600px

        &__imageBox

            &--first
                order: 1
                margin: 20px

            &--second
                order: 1
                margin: 20px

        &__descriptionBox
            
            &--first
                margin: 50px 20px 50px 50px

            &--second
                margin: 50px 50px 50px 20px

    .pricingTable

        &__row
            width: calc(100vw - 40px)
            margin: 50px auto 0px
            max-width: 1300px

        &__columnPrice
            width: 32%
            padding: 32px

        &__icon
            margin-right: 10px

        &__topTextBox
            max-width: 40vw
            margin: 0 auto

    .aboutUs

        &__wrapper
            width: calc(100vw - 40px)
            margin: 0 auto
            max-width: 1600px

        &__rowTop
            display: flex
            flex-direction: row
            justify-content: space-between
            align-content: center
            align-items: center

        &__iconEco
            width: 100px
            height: 100px
            left: 93%
            top: 45px

        &__leftSide
            width: 50%
            padding-right: 50px
            
        &__rightSide
            width: 40%
            padding-top: 100px

        &__rowBottom
            margin-top: 70px
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-between

        &__leftSideHeading
            width: 30%

        &__rightSideTextBoxs
            width: 60%

        &__icon
            margin-right: 15px

    .faq

        &__wrapper
            width: calc(100vw - 40px)
            margin: 0 auto
            max-width: 1600px
            display: flex
            justify-content: space-between

        &__leftHeadingBox
            width: 30%
            position: relative

        &__arrow
            display: block
            position: absolute
            top: 40%
            right: 10%
       
        &__rightBox
            width: 60%

    .howClean
        position: relative

        &__wrapper
            width: calc(100vw - 40px)
            margin: 0 auto
            max-width: 1600px
            justify-content: space-between

        &__leftSideText
            width: 30%

        &__rightSideImages
            width: 40%
            height: 60vh
            margin-right: 10%

        &__image
            height: 60vh

        &__arrow
            display: block
            position: absolute
            right: 3%
            top: 30%
            z-index: 100

        &__circle
            display: block
            position: absolute
            right: 60%
            top: 70%
            z-index: 100
            animation: rotate180 3s infinite

            

@media screen and (min-width: 1600px)

    .headerHomePage

        &__centerBlob
            padding: 150px 50px
            margin-bottom: 20px
            background-size: 42.5vw

        &__paragraph
            padding: 0px 30vw
