@media screen and (min-width: 700px)
    
    .headerHomePage

        &__centerBlob
            padding: 150px 20px
            background-size: 80vw

        &__paragraph
            padding: 0px 20vw