@import "./_mainElements"

.headerHomePage
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    width: 100vw
    height: 100vh
    background-image: url("/image/headerBackground.png")
    background-repeat: no-repeat
    background-size: cover

    &__centerBlob
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        background-repeat: no-repeat
        background-size: cover
        padding: 100px 20px
        text-align: center
        background-image: url("/image/blobHomePage.svg")
        background-size: 125vw
        background-position: center

.switchSection
    background-color: $beige

    &__topTextBox
        text-align: center
    
    &__switchBox
        background: $white
        border-radius: $borderRadiusButton
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        padding: 10px 0px
        margin: $marginElements

    &__firstSwitch
        border-radius: $borderRadiusButton
        width: 90%
        text-align: center
        padding: $paddingButton
        margin-bottom: 10px

    &__active
        background-color: $secondBlack

        .paragraph
            color: $white

    &__image
        width: 100%
        border-radius: $borderRadius
        margin: $marginElements

    &__boxSteps
        margin: 50px 0px

.effectSection

    &__topTextBox
        text-align: center

    &__row
        display: flex
        flex-direction: column
        margin-top: 50px

    &__textInCircle
        position: relative
        top: 40px
        left: 0px
        width: 80px
        height: 80px
        border-radius: 50%
        background-color: $blue
        display: flex
        justify-content: center
        align-content: center
        align-items: center

    &__paragraph
        font-family: $font
        font-weight: 400
        font-size: 2rem
        line-height: 2.8rem
        color: $white

    &__image
        width: 100%
        border-radius: $borderRadius

    &__descriptionBox
        order: 1

    &__imageBox

        &--second
            order: 3

        &--first
            order: 2

.pricingTable
    background-color: $beige

    &__row
        display: flex
        flex-wrap: nowrap
        width: 300vw
        transition: 0.3s

    &__topTextBox
        text-align: center

    &__price
        padding: 0px 0px 20px 0px

    &__iconRow
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-content: center
        align-items: center
        margin: 10px 0px

    &__icon
        width: 20px !important
        height: 20px !important
        margin-right: 5px

    &__bottomBox
        display: flex
        flex-direction: column
        justify-content: center
        margin-top: 50px

    &__secondButton
        margin-top: 10px

    &__columnPrice
        margin-top: 50px
        background-color: $white
        border-radius: $borderRadius
        padding: 32px 18px
        margin-right: 20px
        width: calc(100vw - 40px)

    &__circle
        width: 20px
        height: 20px
        border: 1px solid $black
        border-radius: 50%
        margin: 20px 10px

        &--active
            background-color: $black
            transition: 0.3s

    &__boxWithCircle
        display: flex
        flex-direction: row
        justify-content: center

.aboutUs
    background-color: $beige

    &__image
        width: 100%
        border-radius: $borderRadius

    &__rowTop
        position: relative

    &__iconEco
        width: 70px
        height: 70px
        position: relative
        left: 81%
        top: 40px

    &__rightSide
        padding: $paddingElements

    &__textBoxHeading
        display: flex
        align-content: center
        align-items: center

    &__icon
        margin-right: 10px

    &__textBox
        padding: $paddingElements